
body{
background-color: #E0EFDA}

h1{
color: #3B5249;
font-family: 'Zen dots', monospace;
font-size: 50px;
text-align: center;
}

h3{
color: #779e99;
font-size: 24px;

}

li{ 
	float: left;
	display: inline-block;
	list-style: none;
	margin-right: 90px;
	padding: 27px 65px ;
	font-size: 20px;


}
img{
border: 5px inset #636363;
border-radius: 15%;

}

}


